<div class="cart-preview">
  <p><strong>Item:</strong> {{mealName}}</p>
  <p><strong>Price:</strong> QAR {{mealPrice}}</p>
  <p><strong>From:</strong> {{restaurantName}}</p>
</div>





{{!-- 
<!DOCTYPE html>
<html>
<head>
  <title>Meal Preview</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <p><strong>Meal:</strong> {{mealName}}</p>
  <p><strong>Price:</strong> QAR {{mealPrice}}</p>
  <p><strong>Restaurant:</strong> {{restaurantName}}</p>
</body>
</html> --}}
